@font-face {
    font-family: 'Transducer Extended Bold';
    src: url('assets/fonts/Transducer-ExtendedBold.woff') format('woff');
}

@font-face {
    font-family: 'Transducer';
    src: url('assets/fonts/Transducer-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Transducer Bold';
    src: url('assets/fonts/Transducer-Bold.woff') format('woff');
}

* {
    pointer-events: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Transducer', sans-serif; 
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white; 
    z-index: 1000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
    height: 60px; 
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 0 0 130px;
    justify-content: flex-start; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
}

.logo-menu {
    height: auto;
    max-height: 25px; 
    width: auto; 
    object-fit: contain; 
}

.logo-menu:hover {
    cursor: pointer;
}

.menu ul li {
    margin: 0 30px; 
    position: relative; 
    pointer-events: all;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    transition: opacity 0.3s ease;
    display: flex; 
    align-items: center; 
    height: 100%; 
    box-sizing: border-box;
    position: relative;
    pointer-events: all;
}

.menu ul li a:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: -20%;
    background: #D0212A; 
    height: 3px; 
    transition: right 0.3s ease; 
}

.menu ul li:hover a:before {
    right: 0; 
}

.menu ul .current-menu-item a:before,
.menu ul .current_page_item a:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.menu ul li li a:before {
    bottom: 10%;
}

.menu ul li:first-child a:before {
    display: none; 
}

/* https://www.elegantthemes.com/blog/divi-resources/beautiful-css-hover-effects-you-can-add-to-your-divi-menus#style-one-growing-line-underneath */

.team-photo{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#opening-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.sword {
    position: absolute;
    width: 70%;
    top: 50%;
}

#opening-image h1{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

section {
    display: flex;
    scroll-margin-top: 60px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-size: 40px;
    color: #c4c4c4;
    font-family: transducer extended bold;
}

h1{
    font-size: 100%;
    margin: 0;
    padding: 0;
}

#about div{
    padding: 0 100px 0 100px;
    position: absolute;
}

#about .matrix-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    /* 
    transform: rotate(180deg); 
    opacity: 0.8; 
    */
}

#about h1{
    display: inline-block;
    border-bottom: 3px solid #D0212A; 
    margin: 0 0 1% 0;
}

#about p{
    font-family: Transducer;
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 40%;
}

.render{
    margin: 50px 0;
    width: 600px;
}

@media only screen and (max-width: 400px) {
    #about h1{
        font-size: 30px;
        margin: 0 0 20px 0;
    }
    #about p{
        font-size: 15px;
    }
    #about img{
        margin: 10px 0;
        width: 300px;
    }
}

#team{
    background-color: white;
    flex-direction: column;
    display: grid;
    place-content: center;
    padding: var(--size-5);
    gap: var(--size-5);
}

#team h1{
    text-align: center;
    margin-bottom: 50px;
}

#team label{
    pointer-events: all;
    --_img: url('assets/img/pfp.jpg');
    background-image: var(--_img);
    background-position: center;
    background-size: auto 125%;
}

fieldset {
    grid-template-columns: 
        var(--col-1, 1fr) var(--col-2, 1fr) var(--col-3, 1fr) var(--col-4, 1fr) var(--col-5, 1fr) var(--col-6, 1fr);

    transition: grid-template-columns 0.5s ease-in-out;

    inline-size: 80vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 50vh;
    gap: var(--size-3);
    border: none;
}

fieldset:has(label:nth-child(1) > input:checked) {
    --col-1: 2fr;
}

fieldset:has(label:nth-child(2) > input:checked) {
    --col-2: 2fr;
}

fieldset:has(label:nth-child(3) > input:checked) {
    --col-3: 2fr;
}

fieldset:has(label:nth-child(4) > input:checked) {
    --col-4: 2fr;
}

fieldset:has(label:nth-child(5) > input:checked) {
    --col-5: 2fr;
}

fieldset:has(label:nth-child(6) > input:checked) {
    --col-6: 2fr;
}

label {
    cursor: pointer;
    border-radius: var(--radius-4);
}

label input {
    opacity: 0;
}

#sponsors {
    min-height: 50vh;
    background-color: #D0212A;
}

#sponsors h1{
    text-align: center;
    margin: 0 0 80px; 
    color: white;
    /*
    border-bottom: 3px solid white; 
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    */
}

#sponsors div{ 
    width: 100%;
}

.sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sponsors img{
    height: 10vh;
    margin: 10px 30px 10px 30px;
    transition: transform 0.3s ease;
}

#sponsors img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    #sponsors{
        height: 60vh;
    }
    #sponsors h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
}

#faq {
    min-height: calc(100vh - 200px);
    flex-direction: column;
    background-color: white;
    padding: 100px 0 100px 0;
}

#faq h1{
    color: #D0212A;
}

#faq h2{
    font-size: 25px;
    font-family: transducer;
    color: black;
}

.accordion{
    margin-top: 40px;
    width: 75vw;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid black;
}

.accordion button {
    pointer-events: all;
    font-family: transducer;
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
  
.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #D0212A;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #D0212A;
    border: 1px solid #D0212A;
}

.accordion .accordion-title {
    padding:0;
    margin-left: 30px;
    color: #D0212A;
}

.accordion .icon {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 22px;
    height: 22px;
    color: black;
}

.accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
  
.accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
  
.accordion button[aria-expanded='true'] {
    color: #D0212A;
  }
  
.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 100vh;
    transition: all 0.3s linear;
    will-change: opacity, max-height;
}
  
.accordion .accordion-content {
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s linear, max-height 0.3s linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content ul, .accordion .accordion-content ol{
    padding-left: 33px;
    margin: 20px 0;
}
  
.accordion .accordion-content li, .accordion .accordion-content p{
    font-family: transducer;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 20px;
    color: black;
}

.accordion .accordion-content p{
    margin-top: 20px;
}

#copyright{
    min-height: 10vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.silver-logo{
    margin-top: 15px;
    width: 150px;
}

#copyright p{
    font-size: 10px;
    font-family: transducer;
    margin: 15px;
    max-height: 1em;
}

.matrix-copyright{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    opacity: 0.5;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: zoomDown 1s ease-out; 
}

/* 

https://www.youtube.com/watch?v=B_yKOFWgKhY 
https://niemvuilaptrinh.medium.com/20-example-faq-component-for-website-development-abcfaf032c40

*/